{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperPaws</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'cssstyle.css' %}">

</head>

<body>


    <section id="header">
        {% csrf_token %} {% load static %}
        <a href="/main/"><img src="{% static 'LogoSample_ByTailorBrands-removebg-preview1.png' %}" alt="logo" class="logo"></a>
        <div>
            <ul id="navbar">
                <li><a href="/main/">Home</a></li>
                <li><a href="/dog/">Products</a></li>
                <li><a href="/emergencyservices/">Emergency services</a></li>
                <li><a href="/reviews/">Feedback</a></li>
                <li><a href="/aboutus/">About Us</a></li>

                <li> {% if request.user.is_authenticated %}
                    <li><a href="/cart/"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="/logout/"><i class="fas fa-power-off"></i></a>
                        <li>
                            <div class="w3-dropdown-hover">
                                <div>{{user}}
                                    <div class="w3-dropdown-content w3-bar-block w3-border">
                                        <a href="/myorders/" class="w3-bar-item w3-button">My Orders</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            {% else %}
                            <li><a href="/login/"><i class="fas fa-user-circle"></i></a>
                                <li>
                                    <li><a href="/signup/"><i class="far fa-user-circle"></i></a>
                                        <li>
                                            {% endif %}
            </ul>
        </div>

    </section>



    <section id="page-header" class="about-header">

        <h2>#lets_talk!</h2>

        <p>LEAVE A MESSAGE, we love to her from you!!!</p>

    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit our main office or Contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Sahyadri Park, Plot No. 2 & 3, Phase 3,Hinjawadi,Pune</p>
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <p>superpaws@gmail.com</p>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>+919356157251</p>
                </li>
                <li>
                    <i class="fa-solid fa-clock"></i>
                    <p>10:00AM to 7:00PM, Monday to Saturday</p>
                </li>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.8238767074663!2d73.68383961481429!3d18.
                58197738737326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c065a7c56fcf%3A0xef9decaeddfce07f!2s
                Tata%20Consultancy%20Services%20Limited!5e0!3m2!1sen!2sin!4v1669905564063!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>

        <div class="people">
            <div>
                <img src="{% static '1.png' %}">
                <p><span>John Doe</span>Senior Marketing Manager <br> Phone: 000 123 000 77 88 <br> Email: johndoe@superpaws.com</p>
            </div>

            <div>
                <img src="{% static '2.png' %}">
                <p><span>Will Smith</span>Senior Marketing Manager <br> Phone: 000 123 000 77 88 <br> Email: willsmith@superpaws.com</p>
            </div>

            <div>
                <img src="{% static '3.png' %}">
                <p><span>Emma Stone</span>Senior Marketing Manager <br> Phone: 000 123 000 77 88 <br> Email: emmastone@superpaws.com</p>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your nemail address">
            <button class="normal"><a href="/signup/">Sign Up</a></button>
        </div>
    </section>

    <footer class="section-p1 ">
        <div class="col ">
            <img class="logo " src="{% static 'LogoSample_ByTailorBrands-removebg-preview1.png' %} ">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 562 Wellington Road, Street 32, San Francisco</p>
            <p><strong>Phone:</strong> +919356157251</p>
            <p><strong>Working Hours:</strong> 10:00AM to 7:00PM, Mon to Sat</p>
            <dvi class="follow ">
                <h4>Follow Us</h4>
                <div class="icon ">
                    <i class="fab fa-facebook-f "></i>
                    <i class="fab fa-twitter "></i>
                    <i class="fab fa-instagram "></i>
                    <i class="fab fa-pintrest-p "></i>
                    <i class="fab fa-youtube "></i>
                </div>
            </dvi>
        </div>

        <div class="col ">
            <h4>About</h4>
            <a href="/aboutus/ ">About</a>
            <a href="/contactus/ ">Contact us</a>
            <a href="/admin/ ">Admin</a>
        </div>

        <div class="col ">
            <h4>My Account</h4>
            <a href="/login/ ">Sign In</a>
            <a href="/login/ ">View Cart</a>
            <a href="/login/ ">Track My Order</a>

        </div>

        <div class="install ">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row ">
                <img src="{% static 'app.jpg' %} ">
                <img src="{% static 'play.jpg' %} ">
            </div>
            <p>Secured Payment Getways</p>
            <img src="{% static 'pay.png' %} ">
        </div>

        <div class="copyright ">
            <p>© 2022, SuperPaws- Online Pet Store For Great Deals and</p>
        </div>
    </footer>


    <script src="{% static 'script.js' %}"></script>


</body>


</html>